<footer>
  <address>
    <h3>ติดต่อเรา</h3>
    <p>บริษัท บริดจสโตนเซลส์ (ประเทศไทย) จำกัด</p>
    <p>
      990 อาคารอับดุลราฮิม ถนนพระรามที่ 4 แขวงสีลม เขตบางรัก กรุงเทพมหานคร 10500
    </p>
    <p>Tel : 02 636 1555</p>
  </address>
  <section>
    <a>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        class=""
      >
        <path
          d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"
        ></path>
      </svg>
    </a>
    <a>เงื่อนไขการใช้เว็บไซต์</a>
    <a>นโยบายความเป็นส่วนตัว</a>
    <a>นโยบายรับประกันยางบริดจสโตน</a>
  </section>
</footer>
