<iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/5Fw0fmizBGQ?si=7TLHWcncih-bf2-2"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  referrerpolicy="strict-origin-when-cross-origin"
  allowfullscreen
></iframe>
<iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/zlZiVbrke2o?si=oEVbgsmDOjODeqt_"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  referrerpolicy="strict-origin-when-cross-origin"
  allowfullscreen
></iframe>
<iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/6PA-4vtUfwY?si=Yc9Y7l6IUEsX8dPV"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  referrerpolicy="strict-origin-when-cross-origin"
  allowfullscreen
></iframe>
<iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/j9mJKG-PaDE?si=0qV_PHEGLZwkiqEf"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  referrerpolicy="strict-origin-when-cross-origin"
  allowfullscreen
></iframe>
<iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/UBIMDfWUAgI?si=CefggwdjBedoEfFO"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  referrerpolicy="strict-origin-when-cross-origin"
  allowfullscreen
></iframe>
<button mat-flat-button  >
  สนใจสมัครรับบริการ B Soution
</button>
