<section>
  <form action="">
    <mat-form-field>
      <mat-label>ประเภทธุรกิจ</mat-label>
      <mat-select name="companyType">
        <mat-option>ประเภทธุรกิจ</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>ผิวถนน</mat-label>
        <mat-select name="roadSurface">
          <mat-option>ผิวถนน</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>ตำแหน่งล้อ</mat-label>
      <mat-select name="CarWheels">
        <mat-option>ตำแหน่งล้อ</mat-option>
    </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>ระยะทาง</mat-label>
      <mat-select name="distance">
        <mat-option>ระยะทาง</mat-option>
    </mat-select>
    </mat-form-field>
    <button mat-button>ค้นหา</button>
  </form>
</section>
