<nav>
  <ul class="flex item-center spece-between px-2">
    <li>
      <button mat-mini-fab aria-label="Example icon button with a menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </li>
    <li><img class="logo-menu flex" src="https://btc-images-053540818113.s3.ap-southeast-1.amazonaws.com/2021-01-18/1610980120-logo-Bridgestone.png" alt=""></li>
    <li><button class="mat-elevation-z0" mat-mini-fab aria-label="Example icon button with a search icon">
      <mat-icon>search</mat-icon>
    </button></li>
  </ul>
</nav>

