<article>
  <figure>
    <div>
      <img src="" alt="">logo
      <img src="" alt="">Truck
    </div>
    <div>
      <img src="" alt="">product
      <div>
        <img src="" alt="">Feture1
        <img src="" alt="">Feture2
        <img src="" alt="">Feture3
        <img src="" alt="">Feture4
      </div>
    </div>
    <h2>ECOPIA R156</h2>
    <p>บว์อิ่มแปร้สปอตอาว์เกรด ซังเตมอลล์โมเดิร์นรุสโซ ตุ๊ดทับซ้อน แฮมเบอร์เกอร์บาร์บี้เพทนาการ</p>
    <p>เฟิร์มกลาสสตูดิโอ วัคค์นาฏยศาลา เชฟ เลกเชอร์อพาร์ตเมนท์ละอ่อนคองเกรส</p>
    <p>รีสอร์ทเรซิ่นพาสต้า เซ็กส์ สะเด่าเบญจมบพิตร ฟลอร์ตนเองรากหญ้าคาวบอยมั้ย แช่แข็งสัมนาสมิติเวชเมจิค</p>
    <button mat-button>ขอใบเสนอราคา</button>
    <button mat-button>ดูรายละเอียด</button>
    <button mat-button> + เปรียบเทียบ </button>
  </figure>
</article>
