<h2>B Solution</h2>
<p>บริการพิเศษเพื่อผู้ประกอบการรถบรรทุกและรถโดยสารโดยเฉพาะ มาพร้อม 3 คุณประโยชน์ที่มอบให้เฉพาะลูกค้าคนพิเศษเช่นกัน+</p>
<article>
  <article>
    <img src="" alt="">
    <p>แพ็กเกจการบำรุงรักษาและบริหารการจัดการยางรายเดือน (Monthly Service Package)</p>
  </article>
  <article>
    <img src="" alt="">
    <p>บริการฉุกเฉินนอกสถานที่ (Bridgestone Breakdown Service) (BBS)</p>
  </article>
  <article>
    <img src="" alt="">
    <p>การันตียางและบริการในราคาเดียวกันทั่วประเทศ (Central Billing)</p>
  </article>
</article>
