/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;
@include mat.core();

$custom-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$rose-palette,
  ),
));

html, body {
  @include mat.all-component-themes($custom-theme);
  height: 100%; }
  body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid hsl(0 0% 60% / 0.25);
}

ul{
  list-style: none;
}

.flex{
  display: flex;

  &.item-center{
    align-items: center;
  }

}
